# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Connect Four/*
!/Connect Four/task/
/Connect Four/task/*
!/Connect Four/task/src/
!/Connect Four/task/build.gradle
!/Connect Four/task/build.gradle.kts

# Project exclude paths
/Topics/Debugging techniques/Find the error/out/
/Topics/Debugging techniques/Find the error/out/production/classes/
/Topics/For loop and lists/Number in a set/out/
/Topics/For loop and lists/Number in a set/out/production/classes/
/Topics/For loop and lists/Theory/out/
/Topics/For loop and lists/Theory/out/production/classes/
/Topics/For loop and lists/Triples/out/
/Topics/For loop and lists/Triples/out/production/classes/
/Topics/Introduction to MutableList/Initializing a mutable list of integers/out/
/Topics/Introduction to MutableList/Initializing a mutable list of integers/out/production/classes/
/Topics/Introduction to MutableList/Theory/out/
/Topics/Introduction to MutableList/Theory/out/production/classes/
/Topics/Jumps and returns/Getting letters from the Alphabet/out/
/Topics/Jumps and returns/Getting letters from the Alphabet/out/production/classes/
/Topics/Mutable List/Adding/out/
/Topics/Mutable List/Adding/out/production/classes/
/Topics/Mutable List/Mutable List/out/
/Topics/Mutable List/Mutable List/out/production/classes/
/Topics/Mutable List/Theory/out/
/Topics/Mutable List/Theory/out/production/classes/